<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="org.sleepytonic.cordova.plugins.notification"
      version="0.0.1">

    <name>Statusbar Notification</name>
    <description>Cordova Statusbar Notification Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,notification</keywords>
    <repo>https://github.com/SleepyTonic/cordova-notification-bar-plugin</repo>
    <issue>https://github.com/SleepyTonic/cordova-notification-bar-plugin/issues</issue>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="StatusBarNotification">
                <param name="android-package" value="org.sleepytonic.cordova.plugins.notification.StatusBarNotification"/>
            </feature>
        </config-file>

        <source-file src="src/android/StatusBarNotification.java" target-dir="src/org/sleepytonic/cordova/plugins/notification" />
        <source-file src="src/android/StatusNotificationIntent.java" target-dir="src/org/sleepytonic/cordova/plugins/notification" />

        <!-- android specific notification apis -->
        <js-module src="www/android/statusbarnotification.js" name="statusbarnotification_android">
            <merges target="navigator.notification" />
        </js-module>

    </platform>
</plugin>
